{% extends './main.njk' %}

{% set cols = 2 %}
{% set col_size = 50 %}

{% block main -%}

<div class="row">
  <p>{% block instructions %}Resolver lo siguiente, sin llorar{% endblock %}</p>
</div>

<div class="row answers-hidden" id="exercises">

  {# two columns #}
  {% for i in range(cols) %}
  <div class="col-lg katex">
  
    {# 50 exercises per column #}
    {% for j in range(col_size) %}
    <p>
      {# 1), 2), ... #}
      <span>{{ i * col_size + j + 1 }})</span>
      
      {% block exercise %}{% endblock %}
    </p>
    {% endfor %}
    {# end exercises per column #}
  
  </div>
  {% endfor %}
  {# end two columns #}
  
</div>

<div class="row">
  <button type="button" class="btn btn-primary" onclick="showAnswers()">Mostrar respuestas</button>
</div>
{%- endblock %}

{% block bodybottom %}
<style>
  .answers-hidden .answer {
    display: none;
  }
</style>

<script>
  function showAnswers() {
    document.getElementById('exercises').classList.toggle('answers-hidden')
  }
</script>
{% endblock %}


