{% extends './layouts/exercises.njk' %}
{% from './macros/algebra.njk' import num, var, op, implicit %}

{% block exercise %}
  {% set a = num() %}
  {% set x = var() %}
  {% set b = num() %}
  {% set y = var(x) %}
  {% set c = num() %}
  {% set z = var(x) %}
  
  {{ implicit(a, x) }}
   
  {{ op('*/') }}
  
  {{ implicit(b, y) }}
  
  {{ op() }}
  
  {{ implicit(c, z) }}
  
{% endblock %}