{% extends './layouts/main.njk' %}
{% from './macros/navigation.njk' import link %}

{% block main %}
  estas son solo pruebas
  
  ({{ $routes }})
  
  {% for r in $routes %}
    {{r}},
  {% endfor %}
  
{% endblock %}