{% extends './layouts/main.njk' %}
{% from './macros/navigation.njk' import link %}

{% block main %}
  
  <ul>
    <li>{{ link('ejercicios monomios nivel 1') }}</li>
    <li>{{ link('ejercicios monomios nivel 2') }}</li>
  </ul>
  
{% endblock %}