{% extends '../../layouts/exercises.njk' %}
{% from '../../macros/hide_answer.njk' import hide_answer %}

{% block instructions %}
  Simplifique las siguientes fracciones.
  
  <div class="container-md text-center">
    <img src="https://i0.wp.com/www.imageneseducativas.com/wp-content/uploads/2017/03/Tablas-de-multiplicar-1-20-nuevo-formato.png?fit=1059%2C1033" alt="jerarquia de operaciones">
  </div>
{% endblock %}

{% block exercise %}
  {{ hide_answer(simplifying()) }}
{% endblock %}