<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ejercicios</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.2/katex.min.css'/>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/css/bootstrap.min.css'/>
</head>
<body class="container">
  <h1 class="h1">
    {% block h1 %}{% endblock %}
  </h1>
  
  <h2 class="h2">
    {% block h2 %}{% endblock %}
  </h2>
  
  <div class="row {{dif}} ">

    {% for __ in range(3) %}
    <div class="col katex">
    
      {% for _ in range(400) %}
        <p>{% block exercise %}{% endblock %}=</p>
      {% endfor %}
        
    </div>
    {% endfor %}
    
  </div>
  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.2/katex.min.js'></script>
</body>
</html>