{% extends './main.njk' %}

{% block main -%}
<div class="row">

  {% for i in range(2) %}
  <div class="col-lg katex">
  
    {% for j in range(100) %}
    <p>
      <span>{{ i * 100 + j + 1 }})</span>
      {% block exercise %}{% endblock %}
      =
    </p>
    {% endfor %}
      
  </div>
  {% endfor %}
  
</div>
{%- endblock %}