{% extends '../layouts/exercises.njk' %}
{% from '../macros/hide_answer.njk' import hide_answer %}

{% block instructions %}
  Divida los siguientes valores entre 2 usando el método rápido.
{% endblock %}

{% block exercise %}
  {{ hide_answer(divisionBy2()) }}
{% endblock %}