{% extends '../layouts/exercises.njk' %}
{% from '../macros/hide_answer.njk' import hide_answer %}

{% block instructions %}
  Simplifique las siguientes fracciones.
{% endblock %}

{% block exercise %}
  {{ hide_answer(simplifying()) }}
{% endblock %}